<form class="reminder-form" #f="ngForm" (ngSubmit)="onSubmit(f)">

  <!-- Title Input -->
  <mat-form-field class="reminder-full-width">
    <input matInput [formControl]="titleFormControl" placeholder="Titre" name="title" type="text" [(ngModel)]="reminder.title">
    <mat-error *ngIf="titleFormControl.hasError('required')">
      Titre <strong>obligatoire</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <br>

  <!-- Description Textarea -->
  <mat-form-field class="reminder-full-width">
    <textarea name="description" [formControl]="descriptionFormControl" [(ngModel)]="reminder.description" matInput placeholder="Entrer une description"
      matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
    <mat-error *ngIf="descriptionFormControl.hasError('required')">
      Description <strong>obligatoire</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <br>

  <!-- Date Datepicker -->
  <mat-form-field class="reminder-full-width">
    <input matInput [formControl]="dateFormControl" [min]="minDate" [matDatepicker]="picker" placeholder="Choisir une date" [(ngModel)]="reminderDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="dateFormControl.hasError('required')">
      Date <strong>obligatoire</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <br>

  <!-- Time Input -->
  <mat-form-field class="reminder-full-width">
    <input matInput [formControl]="timeFormControl" placeholder="Choisir une heure" name="time" type="time" [(ngModel)]="reminderTime">
    <mat-error *ngIf="timeFormControl.hasError('required')">
      Heure <strong>obligatoire</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <br>

  <!-- Tags Input -->
  <app-tags-bar [tags]="reminder.tags"></app-tags-bar>
  <br>
  <br>

  <input type="submit" class="mat-raised-button mat-primary" value="Sauver">
  <button mat-button class="mat-raised-button mat-warn" (click)="cancel()">Annuler</button>
</form>