<div *ngFor="let reminder of reminders | filter : searchText">
  <mat-card>
    <mat-card-title>{{reminder.title}}</mat-card-title>
    <mat-card-subtitle>Will work at : {{reminder.dateTimeOfRemind | date}} {{reminder.dateTimeOfRemind | date:"HH:mm"}}</mat-card-subtitle>
    <mat-card-content>
      <p style="color: gray">Desscription:</p>
      {{reminder.description}}
    </mat-card-content>
    
    <mat-chip-list>
        <mat-chip *ngFor="let tag of reminder.tags">{{ tag }}</mat-chip>
    </mat-chip-list>

    <mat-card-actions>
      <button mat-button color="warn" (click)="removeReminder(reminder.key)">Delete</button>
    </mat-card-actions>
  </mat-card>
  <br>
</div>

<a mat-fab routerLink="/reminder" id="btnCreate"><mat-icon>add</mat-icon></a>